
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/master.cshtml";
}

<h2>Layout Demo</h2>
This is to demo how to use layout.
<p></p>
Layout can have the following:
<ul>
    <li>Scripts</li>
    <li>Styles</li>
    <li>Common content</li>
</ul>
