@model MVCWebApp.Models.Greetings
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <h1>@Model.Message @Model.User</h1>
</body>
</html>
